[project]
	description = These are a few plugins to help maven user to download different files on different protocol in part of maven build.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mickael Istria (mickaelistria)
[access "refs/for/refs/*"]
	read = group user/Mickael Istria (mickaelistria)
	push = group user/Mickael Istria (mickaelistria)
	label-Code-Review = -2..+2 group user/Mickael Istria (mickaelistria)
	label-Verified = -1..+1 group user/Mickael Istria (mickaelistria)
	rebase = group user/Mickael Istria (mickaelistria)
	removeReviewer = group user/Mickael Istria (mickaelistria)
	submit = group user/Mickael Istria (mickaelistria)
[access "refs/heads/*"]
	read = group user/Mickael Istria (mickaelistria)
	create = group user/Mickael Istria (mickaelistria)
	push = +force group user/Mickael Istria (mickaelistria)
	pushMerge = group user/Mickael Istria (mickaelistria)
[access "refs/tags/*"]
	push = +force group user/Mickael Istria (mickaelistria)
	pushTag = group user/Mickael Istria (mickaelistria)
	pushSignedTag = group user/Mickael Istria (mickaelistria)
[submit]
	action = fast forward only
	mergeContent = false
